<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Valendo:</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="div1">
    <ion-button color="dark">1</ion-button>
    <ion-button color="dark">3</ion-button>
    <ion-button color="dark">6</ion-button>
    <ion-button color="dark">9</ion-button>
    <ion-button color="dark">12</ion-button>
  </div>

  <div class="div2">
    <ion-col size="6">
      <div class="card1">
        <ion-card>
          <ion-card-title>Time 1</ion-card-title>
          <div class="buttons">
            <ion-button color="dark">+</ion-button>
          </div>
          <div class="buttons">
            <ion-button color="dark">-</ion-button>
          </div>
        </ion-card>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="card1">
        <ion-card>
          <ion-card-title>Time 2</ion-card-title>
          <div class="buttons">
            <ion-button color="dark">+</ion-button>
          </div>
          <div class="buttons">
            <ion-button color="dark">-</ion-button>
          </div>
        </ion-card>
      </div>
    </ion-col>
  </div>
</ion-content>
